@media print {
    
    .c-social-buttons {
        display: none !important;
    }
    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    .switch-mode-container {
        display: none;
    }
}