@media print {
    
    .c-social-buttons {
        display: none !important;
    }
    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    .c-timeline__item.pagebreak + .c-timeline__item {
        margin-top: 40px;
    }

    .actions-container div {
        display: none !important;
    }
}